<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание героя</title>
    <style>
        .error {
            color: red;
            display: block;
        }
    </style>
</head>
<body>
<h1>Создание героя</h1>
<form id="createHero" th:action="@{/test/hero/create}" th:method="post" th:object="${hero}">
    <div>
        <label for="name">Имя:</label>
        <input type="text" id="name" th:field="*{name}" th:value="${hero.name}">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span>
    </div>
    <div>
        <label for="lastName">Фамилия:</label>
        <input type="text" id="lastName" th:field="*{lastName}" th:value="${hero.lastName}">
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error"></span>
    </div>
    <p>Осталось свободных очков: <span id="counter">6</span></p>
    <div>
        <label for="str">Сила:</label>
        <input type="hidden" id="hiddenStr" th:field="*{str}" th:value="${hero.str}">
        <button type="button" onclick="changeValue('str', '-', 'hiddenStr')">-</button>
        <span id="str" th:text="${hero.str != null ? hero.str : '8'}"></span>
        <button type="button" onclick="changeValue('str', '+', 'hiddenStr')">+</button>
        <span th:if="${#fields.hasErrors('str')}" th:errors="*{str}" class="error"></span>
    </div>
    <div>
        <label for="dex">Ловкость:</label>
        <input type="hidden" id="hiddenDex" th:field="*{dex}" th:value="${hero.dex}">
        <button type="button" onclick="changeValue('dex', '-', 'hiddenDex')">-</button>
        <span id="dex" th:text="${hero.dex != null ? hero.dex : '8'}"></span>
        <button type="button" onclick="changeValue('dex', '+', 'hiddenDex')">+</button>
        <span th:if="${#fields.hasErrors('dex')}" th:errors="*{dex}" class="error"></span>
    </div>
    <div>
        <label for="con">Выносливость:</label>
        <input type="hidden" id="hiddenCon" th:field="*{con}" th:value="${hero.con}">
        <button type="button" onclick="changeValue('con', '-', 'hiddenCon')">-</button>
        <span id="con" th:text="${hero.con != null ? hero.con : '8'}"></span>
        <button type="button" onclick="changeValue('con', '+', 'hiddenCon')">+</button>
        <span th:if="${#fields.hasErrors('con')}" th:errors="*{con}" class="error"></span>
    </div>
    <input type="hidden" id="hiddenId" name="tgId" th:value="${hero.tgId}"/>

    <button type="submit" onclick="sendData()">Создать</button>

    <script th:inline="javascript">
        /*<![CDATA[*/
            document.getElementById("name").value = /*[[${hero.name}]]*/ '';
            document.getElementById("lastName").value = /*[[${hero.lastName}]]*/ '';
            document.getElementById("str").textContent = /*[[${hero.str != null ? hero.str : '8'}]]*/ '';
            document.getElementById("dex").textContent = /*[[${hero.dex != null ? hero.dex : '8'}]]*/ '';
            document.getElementById("con").textContent = /*[[${hero.con != null ? hero.con : '8'}]]*/ '';

            var strength = parseInt(document.getElementById("str").textContent);
            var dexterity = parseInt(document.getElementById("dex").textContent);
            var constitution = parseInt(document.getElementById("con").textContent);

            var totalPoints = 30 - (strength + dexterity + constitution);
            document.getElementById("counter").textContent = totalPoints;
        /*]]>*/
    </script>

    <div th:if="${#fields.hasErrors('*') && #fields.hasGlobalErrors()}">
        <ul>
            <li th:each="globalError : ${#fields.globalErrors()}" th:text="${globalError}" class="error"></li>
        </ul>
    </div>
</form>

<script src="https://telegram.org/js/telegram-web-app.js"></script>

<script src="https://telegram.org/js/telegram-web-app.js"></script>

<script>
    function sendData() {
        let tg = window.Telegram.WebApp;
        alert(tg);
        let id = tg.initDataUnsafe.user.id;
        alert(id);
        document.getElementById("hiddenId").value = id;
        alert(id);
        let data = {
            id: id
        }
        tg.sendData(JSON.stringify(data));
        tg.close();

        event.preventDefault();
        document.getElementById("createHero").submit();
    }
</script>

<script>
    function changeValue(characteristic, sign, hiddenFieldId) {
        var element = document.getElementById(characteristic);
        var hiddenField = document.getElementById(hiddenFieldId);
        var value = parseInt(element.innerText) || 0;
        var counter = document.getElementById("counter");
        var counterValue = parseInt(counter.innerText);


            if (sign === '+') {
                if (counterValue - 1 >= 0) {
                    value += 1;
                    counterValue -= 1;
                } else {
                    alert("Не осталось свободных очков");
                }
            } else if (sign === '-') {
                value -= 1;
                counterValue += 1;
            }

            element.innerText = value;
            hiddenField.value = value;
            counter.innerText = counterValue;
    }
</script>
</body>
</html>
