<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form th:method="POST" th:action="@{/test/registration}" th:object="${user}">
    <label for="login">Login: </label>
    <input type="text" th:field="*{login}" id="login"/>
    <div style="color:red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login Error</div>
    <br/>
    <label for="password">Password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
    <br/>
    <button id="create">Создать</button>
    <!--    <input type="submit" value="Создать"/>-->
</form>
<script src="https://telegram.org/js/telegram-web-app.js"></script>
<script>
    let tg = window.Telegram.WebApp;
    let create = document.getElementById("create");
    tg.expand();

    create.addEventListener("click", () => {
        document.getElementById("login").value = tg.initDataUnsafe.user.first_name + " " + tg.initDataUnsafe.user.last_name;
        let name = document.getElementById("user_name").value;
        let email = document.getElementById("user_email").value;
        let phone = document.getElementById("user_phone").value;
        let tg = tg.initDataUnsafe.user.id;

        let data = {
            name: name,
            email: email,
            phone: phone,
            tg: tg
        }
        tg.sendData(JSON.stringify(data));

        tg.close();
    });
</script>
</body>
</html>
